*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
main{
    padding: 30px;
}
h2{
color: chocolate;
}
ul{  
    padding-left: 15px;
    color:cornflowerblue
}